html,body {
  height:100%;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button {
  border: none;
  background: #265f82;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

/* .panel panel-default {
  list-style-type: none;
  padding: 10px;
}
.panel-body {
  padding: 10px;
  background-color:#f4efef;
} */

.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}

.vertical-center {
  min-height:75%; /* Fallback for browsers do NOT support vh unit */
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
/*
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidebar button{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  background-color: #111;
  display: block;
  border:none;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar button:hover {
  color: #f1f1f1;
  border:none;
}
.sidebar button:active {
  color: #f1f1f1;
  border:none;
  outline: none;
} */

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 70%;
  height:70%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#heading{
  text-align: left;
  color: #17202A
}
#burger{
  align-content: flex-end;
}
#nav{
  background-color:#D0ECE7;
  height:740px;
}
.bg{
  background-color:#D0ECE7;
  width:100%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}
@media screen and (max-width: 900px) {
  #nav{
      height:100%;
  }
}
a{
  color: #000000;
}
.tab-content{
  width:100%
}
.date{
  text-align: right;
}
.star{
  text-align: left;
}
body{
  background-image: url("http://www.resultics.com/wp-content/uploads/2017/05/flying-email-525062410-ss-1920.jpeg");
      background-repeat: no-repeat;
  background-size: co;
}
.table{
  background-color: #E8F6F3;
}
.abc{
  color:#E8F6F3;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}